#sear1{
	margin: 0 auto;
	text-align:center;
	position: relative;
	vertical-align:middle;
	height: 40px;
	width: 500px;
}

#sear{
	height: 40px;
	border-radius: 15px;
	width: 500px;
}

#but2{
	position: relative;
	border: 1px solid black;
	border-radius: 15px;
	height: 40px;
	width: 17%;
	top: -40px;
	right: -295px;
}

#music_info {
    margin: 0 auto;
    text-align: center;
    position: relative;
    vertical-align: middle;
    height: auto;
    width: 500px;
}

#detail_info {
    text-aligh: left;
}

#all_music {
    text-align: center;
    width: 500px;
}

.but-like {
	border-radius: 15px;
	background-color:rgb(64,149,215);
	width: 256px;
	left: 80px;
	height: 45px;
	font-family:"Segoe UI";
	color: white;
	font-size: 20px;
}
