@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
	padding: 0;
}
div{
	display: block;
}
.nav {
	position: relative;
	z-index: 1500px;
	height: 100px;
	box-sizing: border-box;
	background: black;
	border-bottom: 1px solid #000;
}

.nav .top{
    width: 1300px;
    margin: 0 auto;
}

.nav .top .guide{
	margin: 0 auto;
	width: 100%;
	height: 100px;
}

.nav .top .guide li{
	list-style: none;
	float: left;
	width: 100px;
	height: 100%;
	line-height: 100px;
	text-align: center;
	font-family: inconsolata;
	font-size: 18px;
	color: white;
	
}

.nav .top .guide .logo{
    width:300px;
	font-size: 38px;
}

.nav .top .guide .ser{
	width: 350px;
	height: 100%;
}

.nav .top .guide .choose{
	background-color: #333333;
	color:white;
}

