@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: bgtx;
	src: url("../font/bgtx-font.ttf");
}
@font-face {
	font-family: wljh;
	src: url("../font/wljh-font.ttf");
}
@font-face {
	font-family: cxh;
	src: url("../font/cxh-font.ttf");
}
body{
	width: 100%;
	height: 760px;
	border: 0;
	margin: 0 auto;
	padding: 0;
	background: #F1F1F1;
}
#mid-1{
	position: absolute;
	top: 100px;
	left: 350px;
	width: 820px;
	height: 600px;
	margin: 0 auto;
}
#pic-1{
	position: absolute;
	left: 0;
	width: 410px;
	height: 100%;
}
#pic-1 #pic1-1{
	position: absolute;
	left: 0;
	width: 410px;
	height: 100%;
}
#ls-1{
	position: absolute;
	left: 410px;
	width: 410px;
	height: 600px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}



#upload-1{
	position: absolute;
	left: 140px;
	font-family: cxh;
	font-weight: bold;
	font-size: 42px;
	height: 70px;
	width: 120px;
	text-align: center;
	top: 50px;
	line-height: 70px;
	color: #ff9427;
}

.input-t-p-1{
	position: absolute;
	padding: 30px 80px;
	top: 100px;
}
.input-t-p-1 input{
	left: 50px;
	width: 100%;
    height: 50px;
	border:1px solid #787878;
	background: #F1F1F1;
}
.but-sub-1{
	position: absolute;
	border-radius: 15px;
	background-color:rgb(64,149,215);
	width: 256px;
	top: 310px;
	left: 80px;
	height: 45px;
	font-family:"Segoe UI";
	color: white;
	font-size: 20px;
}
#uploadfile{
	text-align: center;
	border:0px;
	background: white;
}


