<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
        <link rel="stylesheet" href="{% static 'css/music.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <script type="text/javascript" src="{% static 'js/movetool.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scr.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/changeInput.js' %}"></script>
        <title>
            SoundShare -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="nav">
            <div class="top">
                <ul class="guide">
                    <li class="logo" ><img class="logopic" alt="logo" src="{% static 'image/Soundshare.png' %}"></li>
                    {% if user.is_authenticated %}
                    <li onclick="javascript:document.getElementById('01').click()" class="choose">Index<a id="01" href="/soundshare/index/"></a></li>
                    <li onclick="javascript:document.getElementById('07').click()" class="musicpage" class="l1">Music<a id="07" href="/soundshare/music/"></a></li>
                    <li onclick="javascript:document.getElementById('06').click()" class="l2">Upload<a id="06" href="/soundshare/upload/"></a></li>
                    <li class="ser"><input type="search" placeholder="Music/Musician"></li>
                    <li onclick="javascript:document.getElementById('02').click()" class="login">Welcome, {{ user.username }}  </li>
                    {% else %}
                    <li onclick="javascript:document.getElementById('02').click()" id="before_login">Login/Signup<a id="02" href="/soundshare/login/"></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% block body_block %}
        {% endblock %}

    </body>
</html>



