{% extends 'soundshare/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<!--------Index----------->
	<div class="banner">
		<div class="background">
			<div class="arrows">
				<div class="picture">
					<ul class="outer">
						<li>
							<img class="pic1" src="{% static 'image/banner1.png' %}" alt="test1">
						</li>
						<li>
							<img class="pic1" src="{% static 'image/banner2.png' %}" alt="test2">
						</li>
						<li>
							<img class="pic1" src="{% static 'image/banner1.png' %}" alt="test1">
						</li>
					</ul>
					<div id="navdiv">
						<a class="a1" href="javascript:;"></a>
						<a class="a1" href="javascript:;"></a>
					</div>
				</div>
				<div class="music">
					<div class="music-left">
						<div class="part1">
							<div class="square">
								<div>
								<img class="logo2" src="{% static 'image/music_note.png' %}">
								<div id="word1">Most views</div>
								<div id="word2">Blue</div>
								<div id="word3">Jazz</div>
								<div id="word4">Classic</div>
								<div id="word5">Pop</div>
								<div id="word6"><a href="{% url 'music' %}">MORE→</a></div>
							</div>
							<div>
								<img class="fg1" src="{% static 'image/fg1.png' %}">
							</div>
								<div class="firstline">
									{% if all_music %}
										<ul class="square1234">
											{% for music in all_music %}
											<li>
<!--												<iframe width="150" height="150" src="{{ music.link }}"></iframe>-->
												<iframe width="150" height="150" src="https://www.youtube.com/embed/2JyW4yAyTl0"></iframe>
												<a href="{% url 'music' music.title %}">{{ music.title }}</a>
											</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
							<div class="square2">
								<div>
									<img id="logo2" src="{% static 'image/music_note.png' %}">
									<div id="w1">Most likes</div>
									<div id="w2">Blue</div>
									<div id="w3">Jazz</div>
									<div id="w4">Classic</div>
									<div id="w5">Pop</div>
									<div id="w6"><a href="{% url 'music' %}">MORE→</a></div>
								</div>
								<div>
									<img class="fg1" src="{% static 'image/fg2.png' %}">
								</div>
								<div class="firstline">
									{% if all_music %}
										<ul class="square1234">
											{% for music in all_music %}
											<li>
												<iframe width="150" height="150" src="{{ music.link }}"></iframe>
												<a href="{% url 'music' music.title %}">{{ music.title }}</a>
											</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="music-right">
						<div id="singer">
							Musician-Join us
						</div>
						<div id="singer1">
							<div class="singer-pic">
								<div class="singer-name">
									Singername
								</div>
							</div>
						</div>
						<div id="singer2">
							<div class="singer-pic">
								<div class="singer-name">
									Singername
								</div>
							</div>
						</div>
						<div id="singer3">
							<div class="singer-pic">
								<div class="singer-name">
									Singername
								</div>
							</div>
						</div>
						<div id="singer4">
							<div class="singer-pic">
								<div class="singer-name">
									Singername
								</div>
							</div>
						</div>
						<div id="singer5">
							<div class="singer-pic">
								<div class="singer-name">
									Singername
								</div>
							</div>
						</div>
						<div id="checkmore">
							MORE→
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
