<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/style.css">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Team WAD10 says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/soundshare/">Index</a><br />
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="password">
            <input type="submit" name="" value="Login">
        </div>
    </body>
</html>