<!DOCTYPE html>
{% load staticfiles %}

<html>
<link href="/static/css/style.css" rel="stylesheet">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>
        Login -
        {% block title_block %}
        Team WAD10 says... Hey there partner!
        {% endblock %}
    </title>
</head>

<body>
<div>
    <ul>
        {% if user.is_authenticated %}
        Good to see you!
        <!-- There shuold be an index link for users to return-->
        {% else %}
        <li><a href="{% url 'login' %}">Login now!</a></li>
        <li><a href="{% url 'register' %}">Register now!</a></li>
        {% endif %}
    </ul>
</div>
</body>
</html>

