<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
		<link rel="stylesheet" href="{% static "css/style.css" %}" >
		<script type="text/javascript" src="{% static "js/movetool.js" %}"></script>
		<script type="text/javascript" src="{% static "js/scr.js" %}"></script>
        <title>Music</title>
    </head>
    <body>
		<!--------Guide Page----------->
		<div class="nav">
			<div class="top">
				<ul class="guide">
					<li class="logo" ><img class="logopic" alt="logo" src="{% static "image/Soundshare.png" %}"></li>
					<li onclick="javascript:document.getElementById('01').click()" class="choose">Index<a id="01" href="/soundshare/index/"></a></li>
					<li onclick="javascript:document.getElementById('07').click()" class="musicpage" class="l1">Music<a id="07" href="/soundshare/music/"></a></li>
					<li onclick="javascript:document.getElementById('06').click()" class="l2">Upload<a id="06" href="/soundshare/upload/"></a></li>
					<form method="post" id="form1"><li class="ser"><input type="search" placeholder="Music/Musician"></li>
                        <button value="Search" id="but">Search</button>
                    </form>
					<li onclick="javascript:document.getElementById('02').click()" class="login">Login<a id="02" href="/soundshare/login/"></a></li>
				</ul>
			</div>
		</div>
        <!--------Guide Page----------->
        <div id="background-music">
            <div id="sear1">
                <form method="post" id="form2"><input type="search" placeholder="Music/Musician" id="sear">
                    <button id="but2">Search</button>
                </form>
            </div>
        </div>
    </body>
</html>