{% extends 'soundshare/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Music
{% endblock %}

{% block body_block %}
	<div id="background-music">
		<div id="sear1">
			<form id="search_form" method="post" action="{% url 'music_search' %}">
				{% csrf_token %}
				<input type="search" placeholder="Music/Musician" id="sear" name="search_music_musician">
				<button id="but2">Search</button>
			</form>
		</div>
		<div id="music_info">
			{% if music_info %}
			<h1> {{ music_info.title }} </h1>
			<div id="detail_info">
				<p> Name of Musician: {{ music_info. }}</p>
				<p> Name of Album: {{ music_info.album_title }}</p>
				<p> Link to play: <a href="{{ music_info.link }}">{{ music_info.link }}</a> </p>
				<p> Likes: {{ music_info.likes }} </p>
				<p> Views: {{ music_info.views }} </p>
				<p> Grades: {{ music_info.creator }} </p>
				<p> Rating: {{ music_info.average_rating }} </p>
			</div>

			<hr />

			<h2> Comment </h2>
			<div id="comment">
				<div id="new_comment">
					<h3>New Comment: </h3> <input />
				</div>
				<hr />
				<div id="previous_comments">
					<h3>Previous Comments: </h3> <input />
				</div>
			</div>
			{% elif all_music %}
				<div id="all_music">
					<h1>All Music</h1>
					<ul class="square1234">
						{% for music in all_music %}
						<li>
							<a href="{% url 'music' music.title %}">{{ music.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>

			{% elif selected_music %}
				<div id="selected_music">
					<h1>Selected Music</h1>
					<ul class="square1234">
						{% for music in selected_music %}
						<li>
							<a href="{% url 'music' music.title %}">{{ music.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>

	</div>
{% endblock %}
