{% extends 'soundshare/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Upload
{% endblock %}

{% block body_block %}
        <div id="login">
            <div id="logo" onclick="javascript:document.getElementById('03').click()">
                <img id="logo3"  alt="logo" src="{% static 'image/Soundshare.png' %}" >
                <a id="03" href="/soundshare/"></a>
            </div>
            <div id="mid">
                <div id="pic">
                    <img id="pic1" src="{% static 'image/pic3.png' %}">
                </div>
                <div id="ls">
                    <div id="login-login" onclick="javascript:document.getElementById('04').click()">
                        Sign in
                        <a id="04" href="/soundshare/login/"></a>
                    </div>
                    <div id="login-reg" onclick="javascript:document.getElementById('05').click()">
                        Sign up
                        <a id="05" href="/soundshare/signup/"></a>
                    </div>
                    <div class="input-t-p">
                        <form id="signup_form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label><input type="text" required="required" placeholder="Username" name="username"></label>
                            <label><input type="password" required="required" placeholder="Password" name="password"></label>
                            <label><input type="text" required="required" placeholder="Email" name="email"></label>
                            <label><input type="text" required="required" placeholder="FirstName" name="firstname"></label>
                            <label><input type="text" required="required" placeholder="LastName" name="lastname"></label>

                            <label><input id="user_image" type="file" name="image"></label>

                            <input type="radio" name="type" value="Creator" id="Creator">
                            <label for="Creator">Creator</label>
                            <input type="radio" name="type" value="Listener" id="Listener">
                            <label for="Listener">Listener</label>
                            <input type="radio" name="type" value="Producer" id="Producer">
                            <label for="Producer">Producer</label>

                            <button class="but-sub" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
